

<div class="section section-md">
    <div class="container">
          <div class="row justify-content-center">
            <h3 class="text-center">{{ .Params.FAQ.title }}</h3>
          </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-lg-8">
                <!--Accordion-->
                <div class="accordion" id="accordionExample1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Pourquoi une FAQ?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample1">
                            <div class="accordion-body">
                              Une foire aux questions permet de répertorier les
                              questions les plus fréquentes que les membres ou
                              futures membres nous posent. Au final, vous y gagnerez
                              du temps à trouver vos réponses. Si vous croyez
                              qu'il manque des questions ou que des précisions
                              sont nécessaires, veuillez entrer en contact avec nous.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Est-ce un abonnement annuel ou un abonnement pour la vie?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample1">
                            <div class="accordion-body">
                                Très bonne question que nous discuterons lors du CA.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Je n'ai pas trouvé ma question parmi celles-ci, que faire?
                          </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                          data-bs-parent="#accordionExample1">
                          <div class="accordion-body">
                              Nous contacter!
                          </div>
                      </div>
                  </div>
                </div>
                <!--End of Accordion-->
            </div>
        </div>
    </div>
</div>
