

<div class="section section-md">
    <div class="container">
          <div class="row justify-content-center">
            <h3 class="text-center">{{ .title }}</h3>
          </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-lg-8">
                <!--Accordion-->
                {{ $accordiontit := urlize .title }}

                <div class="accordion" id="{{ $accordiontit }}">
                  {{ $counter := 0 }}
                  {{ range .questions }}
                  {{ $counter = add $counter 1 }}
                  
                  <div class="accordion-item">
                        <h2 class="accordion-header" id="accord-{{$counter}}">
                            <button class="accordion-button {{ if ne $counter 1 }}collapsed{{end}}" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-{{$counter}}" aria-expanded="{{ if eq $counter 1 }}true{{ else }}false{{end}}" aria-controls="collapse-{{$counter}}">
                                {{ .q | markdownify | emojify }}
                            </button>
                        </h2>
                        <div id="collapse-{{$counter}}" class="accordion-collapse collapse {{ if eq $counter 1 }}show{{else}}collapsed{{end}}" aria-labelledby="accord-{{$counter}}"
                            data-bs-parent="#{{ $accordiontit }}">
                            <div class="accordion-body">
                              {{ .r | markdownify | emojify }}
                            </div>
                        </div>
                    </div>
                    {{ end }}

                </div>
                <!--End of Accordion-->
            </div>
        </div>
    </div>
</div>
