{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section class="section-header pb-5 bg-dark text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 text-center">
        <h1 class="display-3 mb-4 px-lg-5">{{ .Title }}</h1>
        {{ with .Params.author }}<div class="post-meta"><span class="fw-bold me-3">{{ . }}</span>{{end}}
        {{ with .Params.date }}<span class="post-date me-3 fw-bold">Diffusée le {{ . | time.Format ":date_medium" }}</span>{{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section section-sm bg-white pt-5 pt-lg-6 text-black">
  <article class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        {{ .Content }}
      </div>
    </div>
  </article>

{{ if eq .Section "nouvelles" }}
<section class="section section-md">
    <div class="container">
        <div class="row align-items-center justify-content-around">
          {{ if not .NextInSection }}
          {{ with .PrevInSection }}
          <div class="col-lg-10 mb-5 text-center text-md-left pt-4 border-top border-primary">
            <h2 class="text-center">Nouvelle antérieure</h2>
              <div class="card shadow bg-white border-gray-300 flex-lg-row align-items-center g-0 p-3"><a
                  href="{{ .Permalink }}" class="col-12 col-lg-4"><img src="/img/illustrations/news.svg"
                    alt="" class="card-img-top rounded"></a>
                <div
                  class="card-body d-flex flex-column justify-content-between col-auto py-4 p-0 p-lg-3 p-xl-4">
                  <a href="{{.Permalink}}">
                    <h2>{{ .Title | markdownify }}</h2>
                  </a>
                  <p>{{.Summary | truncate 75 }}</p>
                  <div class="d-flex align-items-center mt-3">
                    <h3 class="h6 text-muted small fw-normal mb-0">
                      <time>Parue le {{ .Date | time.Format ":date_medium" }}</time>
                    </h3>
                    <a href="{{ .Permalink }}"
                      class="btn btn-outline-primary me-3 animate-up-2 flex-lg-grow-0 ms-auto">Poursuivre la lecture<span
                        class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                  </div>
                </div>
              </div>
          </div>
          {{end}}
          {{ end }}
          {{ with .NextInSection }}
          <div class="col-lg-10 mb-5 text-center text-md-left pt-4 border-top border-primary">
            <h2 class="text-center">Nouvelle suivante</h2>
              <div class="card shadow bg-white border-gray-300 flex-lg-row align-items-center g-0 p-3"><a
                  href="{{ .Permalink }}" class="col-12 col-lg-4"><img src="/img/illustrations/news.svg"
                    alt="" class="card-img-top rounded"></a>
                <div
                  class="card-body d-flex flex-column justify-content-between col-auto py-4 p-0 p-lg-3 p-xl-4">
                  <a href="{{.Permalink}}">
                    <h2>{{ .Title | markdownify }}</h2>
                  </a>
                  <p>{{.Summary | truncate 75 }}</p>
                  <div class="d-flex align-items-center mt-3">
                    <h3 class="h6 text-muted small fw-normal mb-0">
                      <time>Parue le {{ .Date | time.Format ":date_medium" }}</time>
                    </h3>
                    <a href="{{ .Permalink }}"
                      class="btn btn-outline-primary me-3 animate-up-2 flex-lg-grow-0 ms-auto">Poursuivre la lecture<span
                        class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                  </div>
                </div>
              </div>
          </div>
            {{ end }}
        </div>
    </div>
</section>
{{end}}
  <div>

</div>
</div>


{{ end }}