<footer class="footer pt-6 pb-4 bg-primary text-white">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-4 text-center">
                <img class="navbar-brand-dark mb-4" height="150" src="{{ .Site.Params.nav.logo_light }}"
                    alt="Logo light">
                <p>{{ .Site.Params.footer.title | markdownify }} </p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    {{ range .Site.Params.networking.social }}
                    <li>
                        <a href="{{ .link }}" aria-label="social link"
                            class="icon-white me-2">
                            <span class="{{ .icon }}"></span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0 text-center">
                <span class="h5">Menu</span>
                <ul class="footer-links mt-2">
                  {{ range .Site.Menus.main }}
                    <li><a target="_blank" href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a></li>
                  {{ end }}
                </ul>
            </div>
            {{ with .Site.Params.footer.newsletter }}
            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <span class="h5">{{.title | markdownify }}</span>
                <p class="text-muted font-small mt-2"> {{ .subtitle  | markdownify }}
                </p>

                <form action="https://tinyletter.com/coopdegallix" method="post" target="popupwindow"
                onsubmit="window.open('https://tinyletter.com/coopdegallix', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <label class="h6 fw-normal text-muted d-none" for="tlemail">Adresse courriel</label>
                            <input type="email" class="form-control mb-2" placeholder="exemple@site.ca" name="email"
                                aria-label="Subscribe form" id="tlemail" required>
                        </div>
                        <div class="col-12 d-grid">
                            <input type="hidden" value="1" name="embed" />
                            <button type="submit" value="Subscribe" class="btn btn-tertiary" data-loading-text="Sending">
                                <span>{{ .btn | markdownify }}</span>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="text-muted font-small m-0">{{ .text_note | markdownify }}</p>
            </div>
            {{ end }}
        </div>
        <hr class="">
        <div class="row">
            <div class="col mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0">© {{ .Site.Params.fullname }} - <span
                            class="current-year"> {{ now }} </span> - Tous droits réservés </p>
                </div>
            </div>
        </div>
    </div>
</footer>