<footer class="footer pt-6 pb-4 bg-primary text-white">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-4 text-center">
                <img class="navbar-brand-dark mb-4" height="150" src="{{ .Site.Params.nav.logo_dark }}"
                    alt="Logo light">
                <p>{{ .Site.Params.footer.title | markdownify }} </p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    {{ range .Site.Params.networking.social }}
                    <li>
                        <a href="{{ .link }}" aria-label="social link"
                            class="icon-white me-2">
                            <span class="{{ .icon }}"></span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0 text-center">
                <span class="h5">Menu</span>
                <ul class="footer-links mt-2">
                  {{ range .Site.Menus.main }}
                    <li><a target="_blank" href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a></li>
                  {{ end }}
                </ul>
            </div>
            {{ with .Site.Params.footer.newsletter }}
            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <div style="position:relative;width:100%;overflow:hidden;">
                    <iframe 
                        title='Signup form powered by Zeffy' 
                        style='border:0;width:100%;height:100%;min-height:400px;'
                        src='https://www.zeffy.com/fr-CA/embed/newsletter-form/abonnez-vous-a-notre-infolettre-5' 
                        allowTransparency="true">
                    </iframe>
                </div>
                                <p class="text-muted font-small mt-2"> {{ .subtitle  | markdownify }}
                </p>

            </div>
            {{ end }}
        </div>
        <hr class="">
        <div class="row">
            <div class="col mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0">© {{ .Site.Params.fullname }} - <span
                            class="current-year"> {{ now }} </span> - Tous droits réservés </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<noscript>
  <!-- Matomo Image Tracker-->
  <img referrerpolicy="no-referrer-when-downgrade" src="https://matomo.coopdegallix.ca/matomo.php?idsite=1&amp;rec=1&amp;action_name=Coop+de+Gallix" style="border:0" alt="" />
  <!-- End Matomo -->
</noscript>